### longest common subsequence
#### we are given two sequences and we need to find the length of the longest common subsequence between them

we can use different test cases like:
- general case(string)
- general case (list)
- no common subsequence
- one is the subsequence of other
- one sequence is empty
- both sequences are empty
- multiple subsequences with same length

In [ ]:
def len_lcs(seq1, seq2):
    pass

In [ ]:
## synthetic test cases
T0 = {
    "input": {
        "seq1" : "serendipitous",
        "seq2" : "precipitation"
    },
    "output" : 7
}

T1 = {
    "input": {
        "seq1": [1, 2, 3, 4, 6, 8, 9],
        "seq2" : [4, 5, 6, 7, 8, 9, 10, 11]
    },
    "output": 4
}

T2 = {
    "input":{
        "seq1" : "asdfghjkl",
        "seq2" : "qwertyuiop"
    },
    "output" : 0
}

T3 = {
    "input":{
        "seq1": "dense",
        "seq2" : "condensed"
    },
    "output" : 5
}

T4 = {
    "input":{
        "seq1" : "",
        "seq2" : "abcd"
    },
    "output" : 0
}

T5 = {
    "input":{
        "seq1": "",
        "seq2": ""
    },
    "output": 0
}